  <div class="welcome">
    <h1>Welcome to

      <%= image_tag "powderlogo.png" %>

      <div class="welcome-text">Real-Time California Snow Conditions</div>

    </h1>

    <div class="resorts">
      <%= link_to 'Resorts', controller: 'resorts' %>
    </div>

</div>




