  <h1>
    <%= image_tag "powderlogo.png", :class => "style_image" %>

    <div class="welcome-text">Real-Time California Snow Conditions</div>
  </h1>

  <div class="resorts">
    <%= link_to 'Resorts', controller: 'resorts' %>
  </div>





