// Place all the styles related to the resorts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-color: white;
}

.resortlist {
  font-size: 28px;
  color: white;
}

.image-size1 {
  display: inline-block;
  margin: 50px;
}

.image-size2 {
  display: inline-block;
  margin: 50px;
}

.image-size3 {
  display: inline-block;
  margin: 50px;
}

.image-size4 {
  display: inline-block;
  margin: 50px;
}

.image-size5 {
  display: inline-block;
  margin: 50px;
}

.image-size6 {
  display: inline-block;
  margin: 50px;
}


