// Place all the styles related to the resorts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  height: 100%;
  background-color: #EBEBEB;
}

body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

.resortlist h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 48px;
  color: black;
}

.image-size1 {
  display: inline-block;
  margin: 50px;
}

.image-size2 {
  display: inline-block;
  margin: 50px;
}

.image-size3 {
  display: inline-block;
  margin: 50px;
}

.image-size4 {
  display: inline-block;
  margin: 50px;
}

.image-size5 {
  display: inline-block;
  margin: 50px;
}

.image-size6 {
  display: inline-block;
  margin: 50px;
}

.image-size7 {
  display: inline-block;
  margin: 50px;
}

.lift {
  padding: 20px;
  float: left;
  margin: 20px;
  font: 20px Helvetica;
  width: 170px;
  height: 100px;
  background-color: rgba(0,0,255,0.1);
  border-radius: 10px;
}

.snow {
  font: 20px Helvetica;
  float: left;
  margin: 15px;
  padding: 20px;
  width: 410px;
  height: 100px;
  background-color: rgba(0,0,255,0.1);
  border-radius: 10px;
}

.weather {
  font: 20px Helvetica;
  float: right;
  margin: 15px;
  padding: 20px;
  width: 410px;
  height: 100px;
  background-color: rgba(0,0,255,0.1);
  border-radius: 10px;
}

.resorts-bg {
  background: url("");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 60%;
  height: 100%;
  width: 100%;
}

.resorts-wrap {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #EBEBEB;
}

.clear {
  clear: both;
}

.resort-wrap {
  margin: 20px;
}

.resortback {
  text-align: center;
}

.lifttext {
  text-align: center;
}

.showinfo {
  text-align: center;
}


